<div class="crop-slide" id="tutorial-slide">
  <div id="container">
    <img src="assets\tutorial\tutorial_1.png" height="60%" width="60%">
    <p>
      Users may swipe left and right to traverse this section. This section contains the general
      information about the prices of crops.
    </p>
    <br>
    <p>
      The yellow buttons below are clickable. In doing so, users will be able to traverse the other features
      of the application such as the manipulation of soil content values and checking of weather forecasts and reports.
    </p>
    <img src="assets\tutorial\tutorial_2.png" height="60%" width="60%">
    <p>
      Users may change the values of these slides according to the results of their soil analysis test. This will
      then result in the change of the forecasted yield.
    </p>
  </div>
</div>
