#pest-info-container {
  color: white;
  height: 70%;
  width: 100%;
}

#pest-img {
  position: center;
  text-align: center;
}

.pest-info {
  text-align: left;
  padding-left: 5%;
  padding-right: 5%;

  p {
    font-family: Bahnschrift;
    line-height: 1.5em;
  }

  img {
    height: 30%;
    width: 30%;
    border-radius: 15px;
  }
}

.main-info {
  text-align: center;
}
