#container {
  height: 100%;
  width: 100%;
  text-align: center;
  background-color: #e8e9df;
}

#header {
  text-align: center;
  height: 10%;
  width: 100%;
  padding-bottom: 3%;
  position: sticky;
  background-color: white;

  img {
    height: 95%;
    width: 20%;
  }
}
