// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/

:root {
  --ion-background-color: #89947D;
  --ion-font-family: 'Bahnschrift';
  --ion-text-align: left;

  ion-slides {
    height: 75%;

    .swiper-slide, .swiper-pagination {
      --bullet-background: #342E27;
      --bullet-background-active: #FDC700;
    }

    .swiper-pagination-bullet {
      width: 15px;
      height: 15px;
      margin-left: 3%;
      margin-right: 3%;
      margin-bottom: 5%;
    }

    .swiper-pagination-bullet-active {
      width: 15px;
      height: 15px;
      margin-left: 3%;
      margin-right: 3%;
    }
  }

  ion-slide {
    display: block;
    height: 100%;
    width: 100%;
  }

  --ion-color-primary: #89947D;
  --ion-color-primary-rgb: 137,148,125;
  --ion-color-primary-contrast: #000000;
  --ion-color-primary-contrast-rgb: 0,0,0;
  --ion-color-primary-shade: #79826e;
  --ion-color-primary-tint: #959f8a;

  --ion-color-secondary: #E4FC3A;
  --ion-color-secondary-rgb: 228,252,58;
  --ion-color-secondary-contrast: #000000;
  --ion-color-secondary-contrast-rgb: 0,0,0;
  --ion-color-secondary-shade: #c9de33;
  --ion-color-secondary-tint: #e7fc4e;

  --ion-color-tertiary: #E7870A;
  --ion-color-tertiary-rgb: 231,135,10;
  --ion-color-tertiary-contrast: #000000;
  --ion-color-tertiary-contrast-rgb: 0,0,0;
  --ion-color-tertiary-shade: #cb7709;
  --ion-color-tertiary-tint: #e99323;

  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45,211,111;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0,0,0;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;

  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255,196,9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0,0,0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235,68,90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255,255,255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;

  --ion-color-medium: #E4FC3A;
  --ion-color-medium-rgb: 228,252,58;
  --ion-color-medium-contrast: #000000;
  --ion-color-medium-contrast-rgb: 0,0,0;
  --ion-color-medium-shade: #c9de33;
  --ion-color-medium-tint: #e7fc4e;

  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244,245,248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0,0,0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;
}
